{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center mt-5">Inscription sur le site</h1>

<div class="d-flex justify-content-center mt-5">


{{ form_start(form) }}

{{ form_row(form.username , {'label': 'Name of User','attr': {'placeholder': 'Username'}}) }}

{{ form_row(form.email , {'label': 'Email User', 'attr' : {'placeholder' : 'Email User'}})}}

{{ form_row(form.password , { 'label': 'Password' , 'attr' : {'placeholder' : 'Password'}}) }}

{{ form_row(form.confirm_password , { 'label': 'Confirm password' , 'attr' : {'placeholder' : 'Confirm password'}})}}

{{ form_row(form.picture , {'label': 'Picture User', 'attr' : {'placeholder' : 'Picture User'}})}}



<button type="submit" class="btn btn-success">Submit</button>

{{ form_end(form)}}

</div>

{% endblock %}