{% extends 'base.html.twig' %}

{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}


{% block body %}

{% if edit_mode %}
<h1>Modify a Trick</h1>
{% else %}
<h1>Create a Trick</h1>
{% endif %}

{{ form_start(formTrick) }}

{{ form_row(formTrick.title , { 'attr' : {'placeholder' : 'Title Trick'}}) }}
{{ form_row(formTrick.description, { 'attr' : {'placeholder' : 'Title Description'}}) }}
{{ form_row(formTrick.image, { 'attr' : {'placeholder' : 'URL Image'}}) }}
{{ form_row(formTrick.video, { 'attr' : {'placeholder' : 'URL Video'}}) }}

{% if edit_mode %}
<button type="submit" class="btn btn-success">Save Changes</button>
{% else %}
<button type="submit" class="btn btn-success">Add Trick</button>
{% endif %}


{{ form_end(formTrick) }}


{% endblock %}