{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-column align-items-center mt-2">
    <div class="content">
        <img class="w-100" src="{{ asset('img/' ~ trick.image)}}" alt="">
      </div>


   {% if app.user %}
 
 <div class="card-body">

 <a  href="{{ path('trick_edit', { id: trick.id }) }}" class="btn btn-info"><i class="fas fa-pen"></i></a>

<a href="{{ path('trick_delete', { id: trick.id }) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>

</div>

    {% endif %}

    <h1>{{ trick.title }}</h1>

    <div class="metadata"><h3>Ecrit le {{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('h:i')}} dans la Catégorie {{ trick.category.title }}</h3></div>

     <p>{{ trick.description | raw }}</p>

        {{ trick.video | raw }}

</div>

<section id="commentaires">

<h1>{{ trick.comments | length}} Commentaires</h1>

  {% for comment in comments %}
         <div class="comment mt-2">
    <div class="row">
<div class="col-6">
      <img class="w-25" src="{{ asset('img/' ~ comment.userId.picture)}}" alt="">
       {{ comment.userId.username }} (<small>{{ comment.createdAt | date('d/m/Y à H:i')}}</small>)
               <span class="ml-2">{{  comment.content | raw }}</span>

      </div>

       </div>
    </div>
    
    {% endfor %}
    {{ knp_pagination_render(comments) }}

</section>

{% if app.user %}
{{ form_start(formComment) }}

{{ form_row(formComment.content , { 'attr' : {'placeholder' : 'content'}}) }}

<button type="submit" class="btn btn-success">Add Comment</button>

{{ form_end(formComment) }}

{% else %}

<h2>You must be logged in to comment</h2>

<a href="{{path('security_login')}}" class="btn btn-primary">Login</a>

{% endif %}

{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
<br>
   <div class="alert alert-dismissible alert-success">
  <strong>Well done!</strong><a href="#" class="alert-link">{{message}}</a>.
</div>
{% endfor %}

{% endblock %}

