{% extends 'base.html.twig' %}



{% block body %}

<article class="col-md-4 mb-sm-5">
    <h2>{{ trick.title }}</h2>
    <div class="metadata">Ecrit le {{ trick.createdAt | date('d/m/y') }} à {{ trick.createdAt | date('h:i')}} dans la catégorie {{ trick.category.title }}</div>
    <div class="content">
        <img class="w-50" src="{{ trick.image }}" alt="">
      </div>
       {{ trick.description | raw }}

   {{ trick.video | raw }}


</article>

<section id="commentaires">

<h1>{{ trick.comments | length}} Commentaires</h1>

{% for comment in trick.comments %}

    <div class="comment">
    <div class="row">
       <div class="col-3">
      <img class="w-25" src="{{ asset('img/' ~ comment.userId.picture)}}" alt="">

       {{ comment.userId.username }} (<small>{{ comment.createdAt | date('d/m/Y à H:i')}}</small>)
       </div>
     <div class="col">
        {{  comment.content | raw }}
 
     </div>
    </div>
    </div>

    {% endfor %}

</section>

{% if app.user %}
{{ form_start(formComment) }}


{{ form_row(formComment.content , { 'attr' : {'placeholder' : 'content'}}) }}



<button type="submit" class="btn btn-success">Add Comment</button>


{{ form_end(formComment) }}

{% else %}

<h2>You must be logged in to comment</h2>

<a href="{{path('security_login')}}" class="btn btn-primary">Login</a>

{% endif %}

{# read and display just one flash message type #}
{% for message in app.flashes('notice') %}
<br>
   <div class="alert alert-dismissible alert-success">
  <strong>Well done!</strong><a href="#" class="alert-link">{{message}}</a>.
</div>
{% endfor %}

{% endblock %}

